{% extends "practice/layout.html" %}

{% block content %}

<!--
<form action="" method="get">
    <input type="text" name="q" value="{{ q }}" />
    <input type="submit" value="검색" class="btn btn-primary" />
</form>   
-->

<div class ="row">
    <div class="col-sm-12">
        <div class="alert alert-info">         
            <ul>
            <li>모락모락 글쓰기 연습장 컨텐츠 리스트 입니다.</li>
            <li>다양한 글쓰기 방식으로 실력을 상승시켜보세요.</li>
            <li> <a href ="{%url "practice:relay_novel" %}" >릴레이 소설 쓰기</a> </li>
            <li> <a href ="{%url "practice:radio_station" %}" >모모언니에게 보내는 라디오사연</a> </li>
            <li> <a href ="#" >사진 보고 서술하기</a> </li>
            <li> <a href ="#" >변명집 작성하기</a> </li>
            <li> <a href ="#" >VS 소설 쓰기</a> </li>
            </ul>
        </div>

{% endblock %}
