{% load static %}
<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>모락모락</title>
 <!-- 기본 bootstrap -->
 {# <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> #}
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" />
 <!-- bootstrap: cosmo theme -->
 <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" /> -->


 <script src="//code.jquery.com/jquery-2.2.4.min.js"></script> 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
 <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
 <!--[if lt IE 9]>
 <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
 <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
 <![endif]-->
 <link rel="stylesheet" href="{% static "style.css" %}" />

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">모락모락</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
                <a href="{% url "hub:hub_list" %}" class="dropdown-toggle" data-toggle="dropdown">Hub <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url "hub:my_novel" %}">나만의 소설 쓰기</a></li>
                    <li><a href="{% url "hub:shared_novel" %}">공유된 소설 보기</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Practice <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url "practice:relay_novel" %}">릴레이 소설 쓰기</a></li>
                    <li><a href="#">사진 보고 서술하기</a></li>
                    <li><a href="#">변명집 작성하기</a></li>
                    <li><a href="#">VS 소설 쓰기</a></li>
                </ul>
            </li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">회원가입</a></li>
            <li><a href="#">로그인</a></li>
        </ul>
        </div>
   </div>
</nav>

<!--
{% if messages %}
<div class ="container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        [{{ message.tags }}] {# 메세지 Level#}
        {{ message.message }} {# 실제 메세지 내용 #}
    </div>
    {% endfor %}
{% endif %}
-->

 <div class="container">
    <div class="jumbotron">
        <h1>모락모락 <sup>인문학 탐구 모임</sup></h1>
        <p>글쓰기는 생각보다 재밌다!</p>
        <p>
             <a class="btn btn-lg btn-primary" href="https://www.facebook.com/morakmorak0">
        모락모락 베타테스트 페이스북 페이지
            </a>
        </p>
    </div>
 </div>



{% block content %}
{% endblock %}


 <hr/>
&copy; 2017 morakmorak0


</body>
</html>
